<div style="height=40px;">
  <p ng-model="k">Set number of clusters (currently {{ k }})</p>
  <div>
  <button ng-repeat="i in availableK" ng-click="setK(i)">{{ i }}</button>
  </div>
</div>

<div ng-class="{hidden: !!waveformsLoaded}" style="margin: 0 auto;">
  <img src="static/images/balls.svg" style="display: block; margin: auto;"></img>
  <div style="text-align: center;">Loading spike waveforms...</div>
</div>

<div ng-class="{hidden: !waveformsLoaded}">
  <div class="row">
    <div class="col col-md-4">
      <div class="scatter-plot">
        <interactive-scatter width="400" height="400" horiz-margin="20" vert-margin="20" data="scatterData"
          select-circle="selectCircle" select-ellipse="selectEllipse" selected-groups="groups"
          xmin="-7.0" xmax="7.0" ymin="-7" ymax="7"></interactive-scatter>
      </div>
    </div>

    <div class="col col-md-4">
      <div class="row" ng-repeat="i in availableK">
        <div class="col col-md-12"><div class="btn btn-sm">{{ i }}</div>k</div>
      </div>
      <div class="row">
        <div class="col col-md-12">
          <waveforms-chart data="currentlySelected" n-samples="32" width="300" height="200"
            horiz-margin="20" vert-margin="10" loaded='waveformsLoaded' limits="limits"
            xmin="0" xmax="32" ymin="-250" ymax="160"></waveforms-chart>
        </div>
      </div>
    </div>

    <div class="col col-md-4">
    </div>
  </div>

  <div>
    <div>
  </div>
</div>
<div style="clear: both;">
  <div style="float: left;" ng-repeat="group in groups">
    <waveforms-chart ng-click="close(group)" use-canvas="true" data="group.data" n-samples="32" width="300" height="200"
      horiz-margin="10" vert-margin="10" loaded='waveformsLoaded' closeCallback="group.close" limits="limits"
      xmin="0" xmax="32" ymin="-250" ymax="160"></waveforms-chart>
  </div>
</div>
