<div ng-class="{hidden: !!waveformsLoaded}">
  <img src="static/images/balls.svg"></img>
  <div>Loading spike waveforms...</div>
</div>

<div ng-class="{hidden: !waveformsLoaded}">
  <div class="scatter-plot">
    <interactive-scatter width="600" height="600" horiz-margin="20" vert-margin="20" data="scatterData"
      select-circle="selectCircle" select-ellipse="selectEllipse" selected-groups="groups"
      xmin="-7.0" xmax="7.0" ymin="-7" ymax="7"></interactive-scatter>
  </div>
  <div>
    <div>
      <waveforms-chart data="currentlySelected" n-samples="32" width="600" height="400"
        horiz-margin="20" axis-buffer=50 vert-margin="10" loaded='waveformsLoaded' limits="limits"
        xmin="0" xmax="32" ymin="-200" ymax="160"></waveforms-chart>
    </div>
  </div>
</div>
<div style="clear: both;">
  <div style="float: left;" ng-repeat="group in groups">
    <waveforms-chart ng-click="close(group)" use-canvas="true" data="group.data" n-samples="32" width="300" height="200"
      horiz-margin="10" axis-buffer=50 vert-margin="10" loaded='waveformsLoaded' closeCallback="group.close" limits="limits"
      xmin="0" xmax="32" ymin="-200" ymax="160"></waveforms-chart>
  </div>
</div>
